<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDEUberViewSplitViewDividerStyle</key>
	<true/>
	<key>EDShowWelcomeWindowOnLaunch</key>
	<true/>
	<key>EDDocumentationHomeURLString</key>
	<string>https://github.com/itod/GrafikKonsolDocumentation</string>
	<key>EDRulersVisible</key>
	<true/>
	<key>EDGridVisible</key>
	<true/>
	<key>EDFlipped</key>
	<false/>
	<key>EDGridEnabled</key>
	<false/>
	<key>EDGridTolerance</key>
	<integer>10</integer>
	<key>EDGuidesVisible</key>
	<true/>
	<key>EDGuidesLocked</key>
	<false/>
	<key>EDExportType</key>
	<integer>3</integer>
	<key>EDExportAlphaEnabled</key>
	<true/>
	<key>EDTabsListViewVisible</key>
	<true/>
	<key>EDStatusBarVisible</key>
	<true/>
	<key>EDNavigatorViewVisible</key>
	<true/>
	<key>EDCanvasViewVisible</key>
	<true/>
	<key>EDConsoleViewVisible</key>
	<true/>
	<key>EDDebugLocalVariablesVisible</key>
	<true/>
	<key>EDBreakpointsEnabled</key>
	<false/>
	<key>EDFindInProjectMatchCase</key>
	<false/>
	<key>EDFindInProjectUseRegex</key>
	<false/>
	<key>EDFindInProjectWrapAround</key>
	<false/>
	<key>EDExcludeFilePatternString</key>
	<string>*.pyc,*.o,__pycache__</string>
	<key>EDEnvironmentVariables</key>
	<array>
		<dict>
			<key>name</key>
			<string>TEST_NAME</string>
			<key>value</key>
			<string>&quot;A value&quot;</string>
		</dict>
	</array>
	<key>EDSelectedThemeName</key>
	<string>GitHub</string>
	<key>EDDefaultThemeName</key>
	<string>GitHub</string>
	<key>EDSuppressConsolePrompt</key>
	<false/>
	<key>OKDefaultFontFamily</key>
	<string>Menlo</string>
	<key>OKDefaultFontSize</key>
	<integer>11</integer>
	<key>OKSelectedFontFamily</key>
	<string>Menlo</string>
	<key>OKSelectedFontSize</key>
	<integer>11</integer>
	<key>OKTabWidth</key>
	<integer>4</integer>
	<key>OKConvertTabsToSpaces</key>
	<true/>
	<key>OKAutocompletionEnabled</key>
	<true/>
	<key>OKAutocompletionFuzzyMatch</key>
	<true/>
	<key>OKAutocompletionDelay</key>
	<real>0.25</real>
	<key>OKCanAcceptCompletionDelay</key>
	<real>0.175</real>
	<key>EDPresetMetricsInfos</key>
	<array>
		<dict>
			<key>width</key>
			<real>0</real>
			<key>height</key>
			<real>0</real>
			<key>unitType</key>
			<integer>0</integer>
			<key>name</key>
			<string>Custom</string>
			<key>group</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>width</key>
			<integer>480</integer>
			<key>height</key>
			<integer>640</integer>
			<key>unitType</key>
			<integer>0</integer>
			<key>group</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>width</key>
			<real>640</real>
			<key>height</key>
			<real>480</real>
			<key>unitType</key>
			<integer>0</integer>
			<key>group</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>width</key>
			<real>800</real>
			<key>height</key>
			<real>600</real>
			<key>unitType</key>
			<integer>0</integer>
			<key>group</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>width</key>
			<real>1024</real>
			<key>height</key>
			<real>768</real>
			<key>unitType</key>
			<integer>0</integer>
			<key>group</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>width</key>
			<real>1280</real>
			<key>height</key>
			<real>800</real>
			<key>unitType</key>
			<integer>0</integer>
			<key>group</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>width</key>
			<real>1680</real>
			<key>height</key>
			<real>1050</real>
			<key>unitType</key>
			<integer>0</integer>
			<key>group</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>width</key>
			<real>1920</real>
			<key>height</key>
			<real>1200</real>
			<key>unitType</key>
			<integer>0</integer>
			<key>group</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>width</key>
			<real>612</real>
			<key>height</key>
			<real>792</real>
			<key>unitType</key>
			<integer>0</integer>
			<key>name</key>
			<string>U.S. Letter</string>
			<key>group</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>width</key>
			<real>612</real>
			<key>height</key>
			<real>1008</real>
			<key>unitType</key>
			<integer>0</integer>
			<key>name</key>
			<string>U.S. Legal</string>
			<key>group</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>width</key>
			<real>792</real>
			<key>height</key>
			<real>1224</real>
			<key>unitType</key>
			<integer>0</integer>
			<key>name</key>
			<string>U.S. Tabloid</string>
			<key>group</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>width</key>
			<real>595</real>
			<key>height</key>
			<real>842</real>
			<key>unitType</key>
			<integer>0</integer>
			<key>name</key>
			<string>A4</string>
			<key>group</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>width</key>
			<real>419</real>
			<key>height</key>
			<real>595</real>
			<key>unitType</key>
			<integer>0</integer>
			<key>name</key>
			<string>A5</string>
			<key>group</key>
			<integer>3</integer>
		</dict>
	</array>
</dict>
</plist>
