<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>devapp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>DocIcon</string>
			<key>CFBundleTypeName</key>
			<string>DevApp Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.celestialteapot.devappdoc</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>1</integer>
			<key>NSDocumentClass</key>
			<string>EDDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>devapplicense</string>
				<string>xml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>DocIcon</string>
			<key>CFBundleTypeName</key>
			<string>DevApp License</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>IDEUserDefaultsClass</key>
	<string>EDUserDefaults</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 Celestial Teapot. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>EDMainMenu</string>
	<key>NSPrincipalClass</key>
	<string>EDApplication</string>
	<key>OFRegistrations</key>
	<dict>
		<key>OAPreferenceController</key>
		<dict>
			<key>EDGeneralPreferences</key>
			<dict>
				<key>category</key>
				<string>Application</string>
				<key>defaultsDictionary</key>
				<dict/>
				<key>icon</key>
				<string>NSPreferencesGeneral</string>
				<key>nib</key>
				<string>EDGeneralPreferences</string>
				<key>ordering</key>
				<integer>10</integer>
				<key>title</key>
				<string>General</string>
			</dict>
			<key>EDTextEditingPreferences</key>
			<dict>
				<key>category</key>
				<string>Application</string>
				<key>defaultsDictionary</key>
				<dict/>
				<key>icon</key>
				<string>BlankDocIcon</string>
				<key>nib</key>
				<string>EDTextEditingPreferences</string>
				<key>ordering</key>
				<integer>20</integer>
				<key>title</key>
				<string>Text Editing</string>
			</dict>
			<key>EDThemePreferences</key>
			<dict>
				<key>category</key>
				<string>Application</string>
				<key>defaultsDictionary</key>
				<dict/>
				<key>icon</key>
				<string>NSColorPanel</string>
				<key>nib</key>
				<string>EDThemePreferences</string>
				<key>ordering</key>
				<integer>30</integer>
				<key>title</key>
				<string>Theme</string>
			</dict>
			<key>EDUpdatePreferences</key>
			<dict>
				<key>category</key>
				<string>Application</string>
				<key>defaultsDictionary</key>
				<dict/>
				<key>icon</key>
				<string>prefpane_icon_update</string>
				<key>nib</key>
				<string>EDUpdatePreferences</string>
				<key>ordering</key>
				<integer>90</integer>
				<key>title</key>
				<string>Update</string>
			</dict>
		</dict>
	</dict>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DevApp Document</string>
			<key>UTTypeIconFile</key>
			<string>DocIcon</string>
			<key>UTTypeIdentifier</key>
			<string>com.celestialteapot.devappdoc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>devapp</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>SUFeedURL</key>
	<string>http://celestialteapot.com/exedore/appcast/exedore.rss</string>
	<key>SUPublicDSAKeyFile</key>
	<string>exedore_dsa_pub.pem</string>
</dict>
</plist>
