
.default {
    color: #000000;
    background: #FFFFFF;
}

.selection {
    color: #000000;
    background: #BAD6FD;
}

identifier {
    color: #000000;
}

braces {
    color: #000000;
}

dot {
    color: #000000;
}

separators, openParen, closeParen, openCurly, closeCurly, openBracket, closeBracket, semi {
    color: #000000;
}

operators, equals, dot, comma, plus, minus, times, div, mod {
    color: #FF5600;
}

constant {
    color: #A535AE;
}

number {
    color: #000000;
}

className {
    color: #21439C;
}

functionName {
    color: #21439C;
}

keyword, reserved {
    color: #FF5600;
}

classKeyword {
    color: #FF5600;
}

functionKeyword {
    color: #FF5600;
}

string, regex {
    color: #00A33F;
}

comment {
    color: #919191;
}

builtin {
    color: #A535AE;
}

inheritedClass {
    color: #000000;
}

functionParam {
    color: #000000;
}

languageVariable {
    color: #000000;
}

languageFunction {
    color: #A535AE;
}

pdbPrompt {
    color: #00A33F;
    font-style: bold;
}

pdbError {
    color: #00A33F;
    font-style: italic;
}

