
.default {
    color: #F8F8F8;
    background: #141414;
}

.selection {
    color: #A7A7A7;
    background: #DDF0FF33;
}

identifier {
    color: #F8F8F8;
}

braces {
    color: #F8F8F8;
}

dot {
    color: #F9EE98;
}

separators {
    color: #F8F8F8;
}

operators {
    color: #F8F8F8;
}

constant {
    color: #CF6A4C;
}

number {
    color: #CF6A4C;
}

className {
    color: #9B703F;
}

functionName {
    color: #9B703F;
}

keyword {
    color: #CDA869;
}

classKeyword {
    color: #F9EE98;
}

functionKeyword {
    color: #F9EE98;
}

string {
    color: #8F9D6A;
}

comment {
    color: #5F5A60;
    font-style: italic;
}

builtin {
    color: #9B859D;
}

inheritedClass {
    color: #9B5C2E;
    font-style: italic;
}

functionParam {
    color: #7587A6;
}

languageVariable {
    color: #7587A6;
}

languageFunction {
    color: #DAD085;
}

pdbPrompt {
    color: #8F9D6A;
    font-style: bold;
}

pdbError {
    color: #8F9D6A;
    font-style: italic;
}

